* { 
	box-sizing: border-box;
    margin:0;
    padding:0;
}
img{
    height:100%;
    width:100%;
}
/* utilities */
.flex-column{
    display:flex;
    flex-direction:column;
}
.flex-row{
    display:flex;
    flex-direction:row;
}
/* nav menu*/
.nav{
    align-items: center;
    justify-content: space-between;
    width:25%;
    height: 100vh;
    padding: 15px 30px;
}
.nav-links{
    justify-content: space-between;
    align-items: flex-start;
}
.nav-links > li{
    list-style: none;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    padding-left: 5px;
}
.nav-links>li:first-child{
    padding-top: 0px;
    padding-left: 0px;
}
.nav-icon{
    height:32px;
    width:32px;
}
