* { 
	box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: sans-serif;
}
img{
    height:100%;
    width:100%;
}
/* utilities */
.flex-column{
    display:flex;
    flex-direction:column;
}
.flex-row{
    display:flex;
    flex-direction:row;
}
/* nav menu*/
.nav{
    align-items: center;
    justify-content: space-between;
    width:15vw;
    height: 100vh;
    padding: 15px 30px 15px 0;
}
.nav-links{
    justify-content: space-between;
    align-items: flex-start;
}
.nav-links > li{
    list-style: none;
    width:100%;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 3px;
    font-size: 12px;
    width:55px;
}
.nav-links>li:first-child{
    padding-top: 0px;
    padding-left: 0px;
}
.nav-icon{
    height:12px;
    width:12px;
}
.nav-img{
    width:22px;
    height:22px
}