/* Reset padding and presets */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Font import */
@font-face {
    font-family: "TheChirp"; src:url(../assets/fonts/chirp-extended-heavy-web.woff) format("woff");
}
.chirp{
    font-family: "TheChirp";
}

/* Login Form */
.login-container{
    display: flex;
    width: 100%;
    height: auto;
}

.login-overlay{
    width: 54%;
    height: 733px;
}

.login-overlay-image{
    width: 100%;
    height: 100%;
    background: url(../content/login-form-background.png);
    background-size: cover;
    background-position: center;
}

.login-form-div{
    display: flex;
    width: 46%;
    height: auto;
    padding: 15px 15px 15px 15px;
}

.login-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 15px 15px 15px;
}

.login-form-heading{
    width: 100%;
    line-height: 80px;
    font-size: 61px;
    margin-bottom: 46px;
    margin-top: 46px;
}

.login-form-subheading{
    width: 100%;
    line-height: 43px;
    font-size: 29px;
    padding-bottom: 15px;
    font-weight: 700;
}

.login-form-buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 517px;
    height: 340px;
}

.signup-terms{
    font-size: 14px;
    line-height: 13px;
    margin-top: 19px;
    color: rgb(83, 100, 113);
    font-weight: 400;
    width:300px;
}

.login-form-login{
    margin-top: 38px;
}

.login-from-login-text{
    padding-bottom: 20px;
}

.login-form-or{
    text-align: center;
    margin: 5px 0;
    width: 50%
}

.login-form-btn{
    display: flex;
    height: 17%;
    width: 300px;
    padding: 20px;
}

/* Utilities */
hr.new3 {
    border-top: 1px solid  grey;
    width:40%;
    display:inline;
}

.width-50{
    width: 100%;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bot-20{
    margin-bottom: 20px;
}

.button-18 {
  align-items: center;
  background-color: #0a79e7;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #1da1f2;
  color: #ffffff;
}

.button-18:active {
  background: #0475ba;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}